/* Custom styles for form fields */
.form-label {
    font-weight: bold;
    color: #000000;
}

input, textarea {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #444;
}

input:focus, textarea:focus {
    border-color: #ff5722;
    box-shadow: 0 0 0 0.2rem rgb(255, 255, 255);
}